<p id="notice"><%= notice %></p>

<p>
  <strong>Mutant:</strong>
  <%= @enrollment.mutant %>
</p>

<p>
  <strong>Term:</strong>
  <%= @enrollment.term %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
